body {
    margin: 0;
    padding: 0;
    height : 99vh;
    display : flex;
    align-items: center;
    justify-content: center;
    transition : background-color 0.3 ease ;
    background-color: rgb(245, 245, 248);
}
.my-div {
    text-align: center;
    background-color: rgb(207, 125, 23);
    border-radius: 15px;
    padding: 40px;
}
h1{
    font-size: 2rem;
    color: rgb(8, 8, 8);
}
button {
    padding: 12px 24px;
    font-size: 1.1rem;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    display:flex;
    margin: 0 auto;
}

button:hover {
    background-color: #555;
}
#me {
    color: red;
}
